<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I started creating and promoting websites as a hobby, now I do it professionally. That's mine work,
                    as well as a hobby. </p>
            </div>
            <div class="col-lg-4">
                <p>Therefore, I do not get tired of developing and self-educating, I try and will try to improve my
                    skills and
                    expand horizons.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#social" class="btn btn-lg btn-outline">
                    <i class="fa fa-vcard"></i> Contacts
                </a>
            </div>
        </div>
    </div>
</section>
