<!-- Header -->
{%include logo.svg %}
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-main">
					<svg xml:space="preserve" width="330px"  height="330px" viewBox="0 0 228.89 255.52">
					<use xlink:href="#g1k_logo" />
				</svg>
				</div>
				<div class="intro-text">
					<span class="name"><h1 style="text-transform: none;">{{ site.title }}</h1></span>
					<hr class="star-light">
					<span class="skills">{{ site.skills }}</span>
				</div>
			</div>
		</div>
	</div>
</header>
